.username {
  background: pink;
  margin-right: 10px;
}

.message {
  padding: 10px;

}

.messagetext {

}

.btn-wrap{
  white-space:normal !important;
  word-wrap:break-word !important;

  /*text-overflow: ellipsis;*/
}
body {
  background: transparent !important;
}
html {
  background: url(../images/panorama.jpg);
  /*background-size: auto 100%;*/
  background-repeat: no-repeat;
  background-position: top left;
  animation: background-panorama 300s infinite;
}

@keyframes background-panorama {
  50% {background-position: top center;}
}
